*,*::after,*::before
{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;  vertical-align: baseline;
  -webkit-box-sizing:inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
}
html
{
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 62.50%;
  line-height: 1.4;
    -webkit-box-sizing: border-box;  
  -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
  box-sizing: border-box;
  
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
   display: block; 
}

ul , ol 
{
  list-style: none;
}
a
{
  text-decoration: none;
}
table
{
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote, q 
{ 
  quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after
{ 
  content: '';
  content: none; 
}
.img-responsive
{
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix,.clearfix::after,.clearfix::after
{
 content: "";
  display: table;
  clear: both;
}
.clearfix::after
{
  clear: both;
}


form{
  padding: 0.5rem;
}

.button,button,
input[type='button'],
input[type='reset'],
input[type='submit']{
  text-decoration: none;
  border: 0.1rem solid #8bc34a;
  padding: 1.2rem 2rem;
  display: inline-block;
  line-height: 1.4;
  border-radius: 0.9rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.2rem;
  background-color: #8bc34a;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.8s ease;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

.button:hover,
.button:focus,
button:focus,
button:hover,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus
{
  background-color: #6cc644;
  color: black;
  border: 1px solid #6cc644;
}


blockquote{
    border-left: 0.5rem solid #606c74;
    margin-left: 0.3rem;
    margin-right: 0;
    padding: 1rem 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
legend{
  font-weight: 300;
  letter-spacing: .1rem;
  color: #606c70;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

label{
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  line-height: 3.4rem;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.clear{
  background-color: transparent;
  color:#8bc34a;
  border: none;
}

.hollow{
  background-color: transparent;
  color: #8bc34a;
}

.clear:focus,
.clear:hover{
  background-color: transparent;
  color: #606c70;
  border: none;
}

.hollow:focus,
.hollow:hover{
  background-color: transparent;
  color: #606c70;
  border: 1px solid #606c70;
}

input[type='email'], 
input[type='number'], 
input[type='password'],
input[type='search'], 
input[type='tel'],
input[type='text'], 
input[type='url'],
textarea, 
select{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
}

input[type='email']:focus,
input[type='number']:focus, 
input[type='password']:focus,
input[type='password']:hover,
input[type='search']:focus, 
input[type='tel']:focus,
input[type='text']:focus, 
input[type='url']:focus,
textarea:focus,
select:focus{
  border-color: #6cc644;
}

::-webkit-input-placeholder{
  font-size: 1.6rem;
  color: #606c70;
  opacity: 0.5;
  letter-spacing: 0.1rem;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 1.6rem;
  color: #606c70;
  opacity: 0.5;
  letter-spacing: 0.1rem;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 1.6rem;
  color: #606c70;
  opacity: 0.5;
  letter-spacing: 0.1rem;
}

:-ms-input-placeholder {  
font-size: 1.6rem;
  color: #606c70;
  opacity: 0.5;
  letter-spacing: 0.1rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

b,
strong {
  font-weight: bold;
}

p{
  font-size: 1.8rem;
  line-height: 1.9rem;
}

fieldset, input, select, textarea {
    margin-bottom: 1.5rem;
}

textarea {
    min-height: 8rem;
}
select{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
    padding: 0.3rem;
    line-height: 3.2rem;
    text-indent: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #606c70;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  overflow-y: hidden;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

a {
  color: #8bc34a;
  text-decoration: none;
  font-size: 1.8rem;
}

a:focus, a:hover {
  color: #6cc444;
}


h1{
  font-size: 4.8rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.8rem;
}
h4{
  font-size: 2.2rem;
}
h5{
  font-size: 1.9rem;
}
h6{
  font-size: 1.7rem;
}





