*,*::after,*::before
{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;  vertical-align: baseline;
  -webkit-box-sizing:inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
}
html
{
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;;
  font-size: 62.50%;
  line-height: 1.4;
    -webkit-box-sizing: border-box;  
  -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
  box-sizing: border-box;
  
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
   display: block; 
}

ul , ol 
{
  list-style: none;
}
a
{
  text-decoration: none;
}
table
{
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote, q 
{ 
  quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after
{ 
  content: '';
  content: none; 
}
.img-responsive
{
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix,.clearfix::after,.clearfix::after
{
 content: "";
  display: table;
  clear: both;
}
.clearfix::after
{
  clear: both;
}



.button,button,
input[type='button'],
input[type='reset'],
input[type='submit']{
  text-decoration: none;
  border: 0.1rem solid #8bc34a;
  padding: 1.2rem 2rem;
  display: inline-block;
  line-height: 1.4;
  border-radius: 0.9rem;
  margin: 0.5rem;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.2rem;
  background-color: #8bc34a;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.8s ease;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

.button:hover,
.button:focus,
button:focus,
button:hover,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus
{
  background-color: #6cc644;
  color: black;
  border: 1px solid #6cc644;
}


blockquote{
    border-left: 0.5rem solid #606c74;
    margin-left: 0.3rem;
    margin-right: 0;
    padding: 1rem 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-weight: 300;
  letter-spacing: .1rem;
  color: #606c70;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

b,
strong {
  font-weight: bold;
}

p{
  font-size: 1.8rem;
  line-height: 1.9rem;
}

h1{
  font-size: 4.8rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.8rem;
}
h4{
  font-size: 2.2rem;
}
h5{
  font-size: 1.9rem;
}
h6{
  font-size: 1.7rem;
}





